/* add custom css here */

.popover{
    width: 17vw;
}

/* #sidetab{
    transform: rotate(-90deg);
    width: 14vw;
    margin-block-end: 10vw;
        
 } */
 #rotate1{
    transform: rotate(-90deg);
    margin-block-start: 4.2vw;
    width: 11vw;
    font-size: 0.85vw;

 }
 #rotate2{
    transform: rotate(-90deg);
    margin-block-start: 7.1vw;
    width: 7.9vw;
    font-size: 0.85vw;
 }
 #rotate3{
    transform: rotate(-90deg);
    margin-block-start: 6.15vw;
    width: 9.5vw;
    font-size: 0.85vw;
 }
 #rotate4{
    transform: rotate(-90deg);
    margin-block-start: 5.85vw;
    width: 7vw;
    font-size: 0.85vw;
 }

 /* #listan{
    height: 100%;
    width: 3.2vw;
    display: flex;
    flex-direction: initial;
    justify-content: space-around;   
    margin-top: 5.2vw; 
 } */

 #tabcol{
    color: aqua;
 }

 #tablist{
    /* display: inline-block;   */
    flex-direction: column;
    align-content: flex-start;
    width: 2vw;
 }

 #bigdrop{
    background-color: #00629F;
    color: white;
    font-size: 1.06vw;
    border-radius: 0px;
 }

 #bigliitem{
    font-size: 0.85vw;
    margin: 0.2vw;
    padding: 0vw;
    padding-left: 0.5vw;
    vertical-align:bottom;
 }

 #bigcheck{
    font-size: 0.85vw;
    align-items: center;
    padding-left: 2vw;
 }

 .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #333;
    border-color: #333;
}